@page
@model FGear.Pages.myUserRole.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>User Roles</h1>

<p>
    <a asp-page="Create">New Entries</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles[0].RoleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles[0].URID)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserRoles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleID.RID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.URID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.URID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.URID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
